<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/static/style1.css">

<head>
    <meta charset="UTF-8">
    <title>HU-CHATBOT</title>
</head>
<body>
<div class="container">
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="/static/hulogo.png" alt="image"
                    style="width: 55px; height: 55px;">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Hazara University</h4>
                    <p class="chatbox__description--header">AI CHATBOT, I am 24/7 online</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Write a message...">
                <button class="chatbox__send--footer send__button">Send</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button style="background-color:#181a88"><img src="/static/hulogo.png" style="width: 45px; height: 45px;"/></button>
        </div>
    </div>
</div>

    <script src="/static/app.js"></script>

</body>
</html>